.DietaryPreferences {
}

#dp-select-text{
    margin-top: 50px;
    margin-bottom: 50px;
}

#preferences-container{
}
.pref-container{
    display: flex;
    justify-content: center;
}

#pref1, #pref2, #pref3, #pref4, #pref5, #pref6, #pref7, #pref8, #pref9 {
    background-color: lightgray;
    padding: 40px 10px;
    margin: 10px;
    border-radius: 20px;
    border: 1px black solid;
} 
