.InviteCode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .InviteCode__title {
    font-weight: 700;
    font-style: Roboto;
    margin-bottom: 40px;
  }

  .InviteCode__invite__button {
    height: 40px;
    border: none;
    background-color: #8D5240;
    font-weight: 700;
    font-style: Roboto;
    border-radius: 10px;
    margin-left: 5px;
    color: white;
  }
