.JoinRoom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .JoinRoom__title {
    font-weight: 700;
    font-style: Roboto;
    margin-bottom: 40px;
  }

  .JoinRoom__input {
    margin-bottom: 75px;
  }

  .JoinRoom__error {
    position: absolute;
    color: #b58f90;
    font-weight: bold;
    margin-top: 10px;
  }

  .error-border {
    border: 2px solid #d1afaf;
    box-shadow: 0px 4px rgb(181 143 144);
  }
