.PreferredDish #title{
    margin: 10px 0 40px;
    font-size: 25px;
    font-weight: 300;
}

.pref-dish-row {
    background-color: #ECECEC;
    display: flex;
    margin: 35px auto;
    height: 55px;
    align-items: center;
    width: 50%;
    color: #666262;
}

.pref-dish-row input {
    flex: 15%;
}

.pref-dish-row label {
    flex: 85%;
    text-align: right;
    margin-right: 10%;
}

.PreferredDish #skipButton {
    margin-left: 78%;
    margin-top: 20px;
}

.PreferredDish #select-btn {
    margin-bottom: 50px;
}

.PreferredDish #checkbox-group {
    height: 375px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.PreferredDish .dish-error {
    margin-bottom: 10px;
    color: #b58f90;
    font-weight: bold;
}

.PreferredDish .loader {
    font-weight: 300;
    font-size: 25px;
}

@media screen and (max-width: 800px) {
    .pref-dish-row {
        width: 70%;
    }
}

@media screen and (max-width: 450px) {
    .pref-dish-row {
        width: 85%;
    }
}
