.RandomCuisine {
}

#random-cuisine-title-top, #random-cuisine-title-bottom {
    font-weight:bold;
    font-size: 18px;
}

#random-cuisine-title-top {
    margin-top: 40px;
    margin-bottom: 34px;
}

#cuisine-photo{
    width: 300px;
    height: 200px;
}

#cuisine-text {
    margin: 40px 35px;
}

#vote-button {
    color:white;
    padding: 10px 140px;
    background-color: #3F3F3F; 
    font-weight: bold;
}

#reload{
    position: relative;
    left: 30%;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0px;
    padding: 8px;
    margin-top: 10px;
    border: none;
    
}