.RestaurantDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.RestaurantDetails img {
  width: 75%;
}

.RestaurantDetails .google-maps-iframe {
  border: none;
}

.RestaurantDetails .page-container {
  width: 70%;
  padding-bottom: 5%;
}

.RestaurantDetails .map-container {
  display: flex;
  justify-content: center;
}

.RestaurantDetails .basic-info {
  text-align: left;
  width: 100%;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  align-items: center;
  box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.1);
}
