.restauraunt-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
.ResultsPage {
  min-width: 100%;
}

.ResultsPage .heading {
  color: #8b5858;
  margin: 50px;
}

@media screen and (max-width: 500px) {
  .restauraunt-grid {
    grid-template-columns:auto;
    justify-content: center;
  }
  .ResultsCell .right {
    padding-right: 5px!important;
  }
}