.User {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.User button {
    width: 250px;
    height: 40px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: #505050;
    color: white;
    margin: 0 auto;
}

.User .input {
    margin-bottom: 80px;
}

.User .input input {
    width: 70%;
    margin: 0 auto;
}

.User label span {
    text-align: center;
    margin-bottom: 25px;
}

.error-border {
    border: 2px solid #d1afaf;
    box-shadow: 0px 4px rgb(181 143 144);
}
