.WinningCuisine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.WinningCuisine #winner {
    letter-spacing: 10px;
    color: #664e4e;
}

.WinningCuisine .WinningImage {
    margin: 30px 0 50px;
}

.WinningCuisine .WinningHeader {
    padding: 10px;
    font-weight: bold;
}

.WinningCuisine .WinningFacts {
    padding: 10px;
    font-size: 10pt;
    width: 80%;
}

.WinningCuisine #winImg {
    width: 280px;
    height: 150px;
    object-fit: cover;
    object-position: 10% 35%;
    border-radius: 15px;
}


@media screen and (max-width: 450px) {
    
    .WinningCuisine .WinningFacts {
        width: 90%;
    }
}
